@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  @apply mb-4 w-full;

  label {
    @apply block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1;
  }

  input,
  textarea,
  select {
    @apply w-full px-4 py-2 border border-gray-800 rounded-md text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-900 placeholder-gray-400 dark:placeholder-gray-500 focus:outline-none focus:ring-1 focus:ring-teal-600 focus:border-teal-600 transition;
    font-family: var(--font-sans);
  }

  input:disabled,
  textarea:disabled,
  select:disabled {
    @apply bg-gray-100 dark:bg-gray-800 cursor-not-allowed;
  }
}